/* src/css/loader.css */
.loader-container {
    /* This makes it take up the whole page */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50vh; /* 50% of the viewport height */
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey circle */
    border-top: 5px solid #e67e22; /* PetPal Orange */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* The spinning animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}